html {
  scroll-behavior: smooth;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  background-color: #fff;
}
.header__inner {
  padding: 20px 16px;
}
.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hamburger {
  position: relative;
  width: 30px;
  height: 23px;
  cursor: pointer;
}
.hamburger span {
  position: relative;
  display: block;
  background-color: #121212;
  height: 2px;
  width: 100%;
  transition: 0.5s all;
}
header.open .hamburger span {
  transform: translateY(20px) rotate(-315deg);
  bottom: 8px;
  background-color: #fff;
  z-index: 3;
}
.hamburger::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  top: 10px;
  background-color: #121212;
  transition: 0.5s all;
}
header.open .hamburger::before {
  opacity: 0;
}
.hamburger::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  bottom: 0px;
  background-color: #121212;
  transition: 0.5s all;
}
header.open .hamburger::after {
  transform: translateY(-20px) rotate(315deg);
  bottom: -11px;
  background-color: #fff;
  z-index: 3;
}
.hamburger__bg {
  display: none;
  transition: 0.5s all;
}
header.open .hamburger__bg {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 2;
}
.hamburger__menu {
  position: fixed;
  top: 0;
  left: -35%;
  width: 300px;
  height: 100vh;
  background-color: #000;
  padding: 60px 25px;
  transition: 0.5s all;
  opacity: 0;
  z-index: 3;
}
header.open .hamburger__menu {
  left: 0;
  opacity: 1;
}
.hamburger__menu .hamburger__nav {
  color: #fff;
}
.hamburger__menu .hamburger__nav li {
  border-top: 1px solid #fff;
  padding: 20px 0;
}
.hamburger__menu .hamburger__nav li:last-child {
  border-bottom: 1px solid #fff;
}
.hamburger__menu .hamburger__nav li a {
  font-size: 14.4px;
}
.hamburger__bottom {
  margin-top: 65px;
}
.hamburger__bottom li a {
  color: #fff;
  font-size: 14.4px;
}
.hamburger__bottom li:nth-child(n + 2) {
  margin-top: 10px;
}

.mv_wrapper {
  margin-top: 80px;
}
.video__block video {
  width: 100%;
}
@media screen and (max-width: 768px) {
  .video__block video {
    height: 100svh;
    object-fit: cover;
  }
}

.pickup__wrapper {
  margin-top: 100px;
  scroll-margin-top: 100px;
  h2 {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
  }
}
.swiper {
  width: 100%;
  height: 100%;
  margin-top: 30px;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media screen and (max-width: 768px) {
  .pickup__wrapper {
    margin-top: 79px;
  }
}

.feature__wrapper {
  margin-top: 100px;
  scroll-margin-top: 100px;
  h2 {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
  }
}
.feature-card__wrap {
  margin: 30px auto 0;
  max-width: 1209px;
  width: 100%;
  padding: 0 16px;
}
.feature-card__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 27px;
}
.feature-card__item {
  box-shadow: 0 0 8px 3px #ccc;
}
.feature-card__body {
  padding: 30px;
}
.feature-card__item img {
  width: 100%;
}
.feature-card__category span {
  font-size: 12px;
}
.feature-card__text {
  margin-top: 20px;
}
.feature-card__text p {
  font-size: 14px;
}
.feature-card__date {
  margin-top: 20px;
  text-align: right;
}
.feature-card__date span {
  font-size: 12px;
}
@media screen and (max-width: 768px) {
  .feature__wrapper {
    margin-top: 79px;
  }
  .feature-card__list {
    grid-template-columns: 1fr;
    gap: 26px;
  }
}
.contact__wrapper {
  margin-top: 60px;
  scroll-margin-top: 100px;
  background-color: #121212;
  padding: 50px 0;
  h2 {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    color: #fff;
  }
}
.contact__inner {
  max-width: 1210px;
  width: 100%;
  padding: 0 16px;
  margin: auto;
}
.contact__contents {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 30px;
}
.contact__item {
  max-width: 45%;
  width:100%;
}
.contact-item__text {
  color: #fff;
  font-size: 14px;
  line-height: 1.5;
}
.contact-item__text p:nth-child(n + 2) {
  margin-top: 30px;
}
.contact-item-form__mail {
  margin-top: 20px;
}
.contact-item-form__message {
  margin-top: 20px;
}
.contact__item form label {
  color: #fff;
  font-size: 14px;
}
.contact__item form input {
  height: 44px;
  width: 100%;
  background-color: #fff;
  margin-top: 5px;
  padding: 5px;
}
.contact__item form textarea {
  height: 68px;
  width: 100%;
  background-color: #fff;
  margin-top: 5px;
  padding: 5px;
}
.contact-item-form__button {
  margin-top: 20px;
}
.contact__item form button {
  border: 1px solid #fff;
  color: #fff;
  padding: 15px 40px;
  font-size: 14px;
}
.copyright__wrapper {
  background-color: #121212;
}
.copyright__text {
  padding: 10px 0;
  text-align: center;
}
.copyright__text span {
  color: #fff;
  font-size: 12px;
}
@media screen and (max-width: 768px) {
  .contact__wrapper {
    padding: 80px 0;
  }
  .contact__item {
    max-width: 100%;
  }
  .contact__item:nth-child(2) {
    margin-top: 30px;
  }
  .contact__item form button {
    width: 100%;
    text-align: center;
  }
}